In [1]:
import pandas as pd
import numpy as np
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [3]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [4]:
movies = movies.merge(credits,on="title")

In [5]:
movies = movies[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [6]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [7]:
movies.dropna(inplace = True)

In [8]:
movies.duplicated().sum()

0

In [9]:
movies.iloc[0]

movie_id                                                19995
title                                                  Avatar
overview    In the 22nd century, a paraplegic Marine is di...
genres      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
keywords    [{"id": 1463, "name": "culture clash"}, {"id":...
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [10]:
movies.iloc[0]["genres"]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [11]:
import ast
def convert(obj):
  arr = []
  for i in ast.literal_eval(obj):
    arr.append(i["name"])
  return arr

In [12]:
movies["genres"] = movies["genres"].apply(convert)

In [13]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [14]:
movies["keywords"] = movies["keywords"].apply(convert)

In [15]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
def convert_cast(obj):
  arr = []
  cnt = 0
  for i in ast.literal_eval(obj):
    if cnt!=3:
      arr.append(i["name"])
      cnt+=1
    else:
      break
  return arr

In [17]:
movies["cast"] = movies["cast"].apply(convert_cast)

In [18]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
def convert_crew(obj):
  arr = []
  for i in ast.literal_eval(obj):
    if i["job"] == "Director":
      arr.append(i["name"])
      break
  return arr
movies["crew"] = movies["crew"].apply(convert)

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Hans Zimmer, Charles Roven, Christopher Nolan..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Andrew Stanton, Andrew Stanton, John Lasseter..."

In [21]:
movies["overview"] = movies["overview"].apply(lambda x:x.split())

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Hans Zimmer, Charles Roven, Christopher Nolan..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Andrew Stanton, Andrew Stanton, John Lasseter..."

In [23]:
#removing spaces between the names so that it become a single entity
movies["genres"] = movies["genres"].apply(lambda x:[i.replace(" ","") for i in x])
movies["keywords"] = movies["keywords"].apply(lambda x:[i.replace(" ","") for i in x])
movies["cast"] = movies["cast"].apply(lambda x:[i.replace(" ","") for i in x])
movies["crew"] = movies["crew"].apply(lambda x:[i.replace(" ","") for i in x])

In [24]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[StephenE.Rivkin, RickCarter, ChristopherBoyes..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[DariuszWolski, GoreVerbinski, JerryBruckheime..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[ThomasNewman, SamMendes, AnnaPinnock, JohnLog..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[HansZimmer, CharlesRoven, ChristopherNolan, C..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[AndrewStanton, AndrewStanton, JohnLasseter, C..."

In [25]:
movies["tags"] = movies["overview"]+movies["genres"]+movies["cast"]+movies["crew"]+movies["keywords"]

In [26]:
new_df = movies[["movie_id","title","tags"]]

In [27]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [28]:
  new_df["tags"] =  new_df["tags"].apply(lambda x:" ".join(x))

C:\Users\avira\AppData\Local\Temp\ipykernel_18252\2382310727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] =  new_df["tags"].apply(lambda x:" ".join(x))

In [29]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [30]:
#convert it to lower case
new_df["tags"] = new_df["tags"].apply(lambda x:x.lower())

C:\Users\avira\AppData\Local\Temp\ipykernel_18252\1940474185.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x:x.lower())

In [31]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [32]:
!pip install nltk

Collecting nltk

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\avira\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 10.5 MB/s eta 0:00:00
Collecting joblib
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     ------------------------------------- 307.0/307.0 KB 18.5 MB/s eta 0:00:00
Collecting click
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     ---------------------------------------- 96.6/96.6 KB 5.8 MB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2022.6.2-cp310-cp310-win_amd64.whl (262 kB)
     -------------------------------------- 262.0/262.0 KB 7.9 MB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 78.4/78.4 KB 2.1 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\avira\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.5)
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.1.3 joblib-1.1.0 nltk-3.7 regex-2022.6.2 tqdm-4.64.0

In [36]:
#for text vextorization we import sklearn
import nltk

In [39]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp310-cp310-win_amd64.whl (7.3 MB)
     ---------------------------------------- 7.3/7.3 MB 16.2 MB/s eta 0:00:00
Requirement already satisfied: joblib>=1.0.0 in c:\users\avira\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Collecting scipy>=1.3.2
  Downloading scipy-1.8.1-cp310-cp310-win_amd64.whl (36.9 MB)
     --------------------------------------- 36.9/36.9 MB 14.2 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\avira\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.22.4)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, scipy, scikit-learn, sklearn
  Running setup.py install for sklearn: started
  Running setup.py install for sklearn: finished with status 'done'
Successfully installed scikit-learn-1.1.1 scipy-1.8.1 sklearn-0.0 threadpoolctl-3.1.0

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\avira\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000,stop_words = "english")

In [47]:
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [48]:
cv.get_feature_names()

['000',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '19th',
 '19thcenturi',
 '20',
 '20th',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aaronglascock',
 'aaronseltz',
 'aaronwilliam',
 'aaronzigman',
 'abandon',
 'abduct',
 'abil',
 'abl',
 'abov',
 'abram',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'achiev',
 'ackerman',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adamdal',
 'adamgreenberg',
 'adamjenkin',
 'adammckay',
 'adammilosmalley',
 'adamsandl',
 'adamshankman',
 'adamsomn',
 'adapt',
 'add',
 'addict',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrianbiddl',
 'adrienbrodi',
 'adult',
 'adulteri',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'ag',
 'age',
 'agediffer',
 'agent',
 'aggieguerardrodg',
 'ago',
 'agre',
 'aguilar',
 'ahead',
 'ai',
 'aid',
 'aim',
 'air',
 'airplan',
 'airport',
 'aishacoley',
 'akivagoldsman',
 'al',
 'alanb',
 'aland',
 'alanedwardbel',
 'alanmenken',
 'alanrobertmurray',
 'alansilvestri',
 'alaska',
 'albert',
 'albertgass',
 'albertr',
 'albertwolski',
 'alcerullo',
 'alcohol',
 'alecbaldwin',
 'alechammond',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandro',
 'alex',
 'alexandergruszynski',
 'alexanderpayn',
 'alexanderwitt',
 'alexandredesplat',
 'alexbailey',
 'alexgibson',
 'alexkavanagh',
 'alexkendrick',
 'alexkurtzman',
 'alexproya',
 'alexrous',
 'alfonsocuarón',
 'alfredhitchcock',
 'alftramontin',
 'ali',
 'alic',
 'alice',
 'aliciastevenson',
 'alien',
 'alieninvas',
 'alienlife',
 'alisalepselt',
 'aliv',
 'alive',
 'allana',
 'allen',
 'allencovert',
 'allenhal',
 'alli',
 'allianc',
 'allisonjon',
 'allow',
 'alon',
 'alpacino',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alysondeemoor',
 'amanda',
 'amandagoodpast',
 'amandamackey',
 'amaz',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanfootbal',
 'amico',
 'amidst',
 'amirmokri',
 'amnesia',
 'amp',
 'amus',
 'amyadam',
 'analyst',
 'anamariaquintana',
 'anastasn',
 'ancient',
 'anderson',
 'andi',
 'andreak',
 'andreasgrosch',
 'andrew',
 'andrewa',
 'andrewackland',
 'andrewadamson',
 'andrewcoop',
 'andrewdecristofaro',
 'andrewdunn',
 'andrewg',
 'andrewj',
 'andrewl',
 'andrewlaw',
 'andrewlazar',
 'andrewlesni',
 'andrewm',
 'andrewmason',
 'andrewmaxcahn',
 'andrewmenzi',
 'andrewmondshein',
 'andrewneskoromni',
 'andrewniccol',
 'andrewrowland',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andygarcía',
 'andykaplan',
 'andymalcolm',
 'andynelson',
 'andynicholson',
 'angel',
 'angeles',
 'angelinajoli',
 'angelocolavecchia',
 'anger',
 'angerio',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalhorror',
 'ann',
 'anna',
 'annab',
 'annabehlm',
 'annafari',
 'annapinnock',
 'annaran',
 'anne',
 'annehathaway',
 'annekuljian',
 'annemccarthi',
 'annetteben',
 'annev',
 'anni',
 'anniepenn',
 'anniewel',
 'announc',
 'annroth',
 'annscibelli',
 'anntenggren',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'anthoni',
 'anthonyanderson',
 'anthonyb',
 'anthonybregman',
 'anthonydininno',
 'anthonydodmantl',
 'anthonyhopkin',
 'anthonyj',
 'anthonykataga',
 'anthonyminghella',
 'anthonyrizzo',
 'anthropomorph',
 'anti',
 'antihero',
 'antoni',
 'antoniobandera',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypt',
 'apon',
 'appar',
 'appear',
 'appoint',
 'apprentic',
 'approach',
 'april',
 'aprilwebst',
 'archaeologist',
 'architect',
 'arci',
 'area',
 'arena',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armsdeal',
 'armstrong',
 'army',
 'armyanbernstein',
 'arnold',
 'arnoldkopelson',
 'arnoldschwarzenegg',
 'arnonmilchan',
 'arrang',
 'arrest',
 'arriv',
 'art',
 'arthur',
 'arthurmax',
 'arthurschmidt',
 'artificialintellig',
 'artist',
 'artlinson',
 'arunram',
 'ashley',
 'ashleyjudd',
 'ashokamritraj',
 'ashtonkutch',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assign',
 'assist',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'ateah',
 'athlet',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austerberri',
 'austin',
 'australia',
 'australian',
 'author',
 'auto',
 'aveng',
 'aviarad',
 'avilern',
 'avoid',
 'avykaufman',
 'await',
 'awaken',
 'award',
 'away',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bahama',
 'bail',
 'bailey',
 'bak',
 'balanc',
 'ball',
 'ballet',
 'band',
 'banish',
 'bank',
 'banker',
 'bankrobberi',
 'bannon',
 'bar',
 'barbarabroccoli',
 'barbaraharri',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barriem',
 'barrybernardi',
 'barrychusid',
 'barryh',
 'barrylevinson',
 'barrymendel',
 'barrypeterson',
 'barryrobison',
 'barrysonnenfeld',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basiliwanyk',
 'basilpoledouri',
 'basketbal',
 'batman',
 'battl',
 'battlefield',
 'bay',
 'bazluhrmann',
 'beach',
 'bear',
 'beast',
 'beat',
 'beatrixarunapasztor',
 'beaubord',
 'beauflynn',
 'beauti',
 'beautiful',
 'becam',
 'becaus',
 'beckysullivan',
 'becom',
 'becominganadult',
 'bed',
 'befor',
 'befriend',
 'began',
 'begin',
 'behavior',
 'bel',
 'belief',
 'believ',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'benavent',
 'bend',
 'bendavi',
 'benjamínfernández',
 'benkingsley',
 'bennett',
 'bennettwalsh',
 'benstil',
 'bent',
 'bentley',
 'benwaisbren',
 'berg',
 'berlin',
 'bernadettemazur',
 'bernardtelsey',
 'berndeiching',
 'bess',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'bethlipari',
 'betray',
 'betsyheimann',
 'better',
 'beverli',
 'bibl',
 'big',
 'biggest',
 'biker',
 'billabbott',
 'billbernstein',
 'billbrzeski',
 'billcarraro',
 'billcorso',
 'billi',
 'billionair',
 'billjohnson',
 'billmurray',
 'billo',
 'billpankow',
 'billpop',
 'billybobthornton',
 'billycryst',
 'billyhopkin',
 'billyweb',
 'biographi',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bissel',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'bjmcdonnel',
 'black',
 'blackmail',
 'blackpeopl',
 'blade',
 'blame',
 'blind',
 'bliss',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blow',
 'blue',
 'board',
 'boat',
 'boazdavidson',
 'boazyakin',
 'bob',
 'bobbadami',
 'bobbeem',
 'bobbi',
 'bobbyfarrelli',
 'bobkan',
 'bobkensing',
 'bobweinstein',
 'bobyari',
 'bodi',
 'body',
 'bodyguard',
 'bollywood',
 'bomb',
 'bond',
 'bonnietimmermann',
 'book',
 'border',
 'bore',
 'born',
 'boss',
 'boston',
 'bound',
 'bounti',
 'bountyhunt',
 'bourn',
 'bowelch',
 'box',
 'boxer',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'bradbird',
 'bradleycoop',
 'bradpitt',
 'bradrick',
 'bradsherman',
 'brain',
 'brand',
 'brandontrost',
 'brave',
 'braveri',
 'break',
 'brendanfras',
 'brentwhit',
 'brettratn',
 'brian',
 'brianaveri',
 'brianberdan',
 'briancox',
 'briandepalma',
 'briangraz',
 'brianhel',
 'brianhelgeland',
 'briann',
 'brianreitzel',
 'brianrichard',
 'briantaylor',
 'briantyl',
 'brianw',
 'bride',
 'bridg',
 'brief',
 'brien',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'broadway',
 'broccoli',
 'broderickjohnson',
 'broke',
 'broken',
 'brook',
 'brooklyn',
 'broom',
 'broomberg',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brotherhood',
 'brothersisterrelationship',
 'brought',
 'brown',
 'brubak',
 'bruc',
 'bruce',
 'brucea',
 'bruceberman',
 'brucefowl',
 'brucegreen',
 'brucewilli',
 'brutal',
 'bryan',
 'bryanbowen',
 'bryansing',
 'bu',
 'bubasman',
 'buck',
 'buddi',
 'budget',
 'build',
 'building',
 'built',
 'bulli',
 'bumbl',
 'buri',
 'burk',
 'burn',
 'burton',
 'burum',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butl',
 'butler',
 'buy',
 'cabin',
 'cabrera',
 'cal',
 'calebdeschanel',
 'california',
 'calvin',
 'came',
 'camera',
 'cameroncrow',
 'camerondiaz',
 'camillefriend',
 'camp',
 'campaign',
 'campanelli',
 'campbel',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cannib',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraccid',
 'caracciolojr',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'caribbean',
 'carl',
 'carlson',
 'carmen',
 'carmencuba',
 'carol',
 'carola',
 'carolkief',
 'carollittleton',
 'carolramsey',
 'carolspi',
 'carpent',
 'carrac',
 'carri',
 'carrie',
 'cart',
 'carter',
 'carterburwel',
 'caruso',
 'case',
 'casey',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catehardman',
 'catherinehardwick',
 'catherineharp',
 'catherinekeen',
 'catherinemariethoma',
 'catherinezeta',
 'cathol',
 'catholic',
 'cathysandrich',
 'caught',
 'caus',
 'cave',
 'celebr',
 'celiad',
 'center',
 'central',
 'centuri',
 'century',
 'certain',
 'chadoman',
 'chads',
 'chain',
 'chainsaw',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'channingtatum',
 'chao',
 'chaos',
 'charact',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charlescroughwel',
 'charlesmayn',
 'charlesroven',
 'charlesw',
 'charli',
 'charlie',
 'charlieclous',
 'charliekaufman',
 'charliewoebcken',
 'charlizetheron',
 'charm',
 'chase',
 'chavez',
 'cheat',
 'cheerlead',
 'chef',
 'chemic',
 'cherylnardi',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhood',
 'children',
 'chill',
 'china',
 'chines',
 'chip',
 'choic',
 'choos',
 'chosen',
 'chri',
 'chrisanderson',
 'chrisbend',
 'chrisburdon',
 'chriscolumbu',
 'chriscornwel',
 'chrisdavid',
 'chrisevan',
 'chrishaarhoff',
 'chrishanley',
 'chrishogan',
 'chrisjargo',
 'chrisjenkin',
 'chrisl',
 'chrislebenzon',
 'chrismoor',
 'chriso',
 'chrisrock',
 'chrissand',
 'chrisseag',
 'chrissnyd',
 'christ',
 'christensen',
 'christian',
 'christianbal',
 'christianp',
 'christianwagn',
 'christinebeveridg',
 'christinewilson',
 'christma',
 'christmas',
 'christmasparti',
 'christoph',
 'christophebeck',
 'christopherassel',
 'christopherboy',
 'christophergreenburi',
 'christopherlennertz',
 'christopherlloyd',
 'christophermcquarri',
 'christophermil',
 'christophernolan',
 'christopherplumm',
 'christopherrous',
 'christophers',
 'christopherscarabosio',
 'christophert',
 'christopherwalken',
 'christopherwoodrow',
 'christopheryoung',
 'chrisweitz',
 'chronicl',
 'chu',
 'chuckduk',
 'chuckmichael',
 'church',
 'cia',
 'cindycarr',
 'circu',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilwar',
 'claim',
 'clair',
 'clan',
 'clark',
 'clash',
 'class',
 'classic',
 'classmat',
 'claudeparé',
 'claudettebariu',
 'claudevandamm',
 'claytontownsend',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliffmartinez',
 'climb',
 'clinteastwood',
 'clintmansel',
 'clinton',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'club',
 'clue',
 'coach',
 'coast',
 'cocain',
 'code',
 'cohen',
 'cold',
 'coldwar',
 'cole',
 'colinanderson',
 'colinfarrel',
 'colinfirth',
 'colinwilson',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleenatwood',
 'colleg',
 'college',
 'collid',
 'colonel',
 'coloni',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commerci',
 'commit',
 'common',
 'commun',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'comput',
 'concern',
 'concert',
 'condit',
 'confid',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connel',
 'connor',
 'conquer',
 'conradbuffiv',
 'consequ',
 'consequences',
 'consid',
 'conspir',
 'conspiraci',
 'construct',
 'consum',
 'contact',
 'contain',
 'contend',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convent',
 'convict',
 'convinc',
 'cook',
 'cool',
 'coop',
 'cooper',
 'cop',
 'cope',
 'core',
 'coreenmayr',
 'cori',
 'corner',
 'corpor',
 'corps',
 'corrupt',
 'cosmaspaulbolgerjr',
 'cost',
 'costa',
 'costanzo',
 'costum',
 'count',
 'countri',
 'country',
 'countrysid',
 'coupl',
 'couple',
 'courag',
 'cours',
 'court',
 'courtcas',
 'cousin',
 'cover',
 'covert',
 'cowardli',
 'cowboy',
 'crack',
 'craig',
 'craigalpert',
 'craigarmstrong',
 'craigbarron',
 ...]

In [44]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [45]:
new_df["tags"] = new_df["tags"].apply(stem)

C:\Users\avira\AppData\Local\Temp\ipykernel_18252\825579503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(stem)

In [49]:
#now we calculate distance between 2 vector using cosine distance but not euclidean distance because it is not reliable.
#cosine distance is theta between 2 vectors
#we do it with help of sklearn
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [50]:
cosine_similarity(vectors).shape

(4806, 4806)

In [51]:
sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x :x[1])[1:11]

[(2409, 0.2831639422345617),
 (25, 0.25743489909630995),
 (279, 0.21821789023599236),
 (282, 0.2179449471770336),
 (539, 0.1937925580499818),
 (587, 0.16499158227686114),
 (3730, 0.16499158227686112),
 (94, 0.161245154965971),
 (3443, 0.161245154965971),
 (1216, 0.15724272550828777)]

In [60]:
def recommend(movie):
  movie_index = new_df[new_df["title"] == movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)),reverse = True,key = lambda x :x[1])[1:11]
  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [54]:
#fetching index and sort it and display top 5 
def recommend(movie):
  movie_index = new_df[new_df["title"] == movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)),reverse = True,key = lambda x :x[1])[1:11]
  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [61]:
recommend("Avatar")

Aliens
Titanic
Terminator 2: Judgment Day
True Lies
Titan A.E.
The Abyss
Falcon Rising
Guardians of the Galaxy
The Terminator
Aliens vs Predator: Requiem

In [1]:
recommend("Batman")

NameError: name 'recommend' is not defined

In [56]:
import pickle

In [62]:
pickle.dump(new_df,open("movies.pkl","wb"))

In [63]:
pickle.dump(new_df.to_dict(),open("movies_dict.pkl","wb"))

In [64]:
pickle.dump(similarity,open("similarity.pkl","wb"))